<template>
  <div>
    <div class="grid gap-4" :class="{ 'lg:grid-cols-3': periods.length === 3 }">
      <CartPeriodButton
        v-for="(period, i) in periods"
        :key="i"
        v-model="selectedPeriod"
        :period="period"
      />
    </div>
    <a class="text-error underline cursor-pointer block my-2" @click="reset"
      >Ga terug</a
    >
    <!-- mocked form -->
    <CartForm class="my-8" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CartPeriodButton from './partials/CartPeriodButton.vue'
import CartForm from './partials/CartForm.vue'

export default {
  name: 'Cart',
  components: { CartPeriodButton, CartForm },

  data() {
    return {
      selectedPeriod: ''
    }
  },
  computed: {
    ...mapGetters({
      periods: 'shop/getPeriods',
      period: 'cart/getPeriod',
      product: 'cart/getProduct'
    })
  },

  watch: {
    selectedPeriod(val) {
      if (val) {
        const period = this.periods.find((p) => p.id === val)

        this.setPeriod(period)

        const product = JSON.parse(JSON.stringify(this.product))
        product.price.discountPercentage += period.discountPercentage
        product.price.discountPrice =
          (product.price.initialPrice *
            (100 - product.price.discountPercentage)) /
          100
        this.setProductSubscription(product)
      }
    }
  },

  methods: {
    ...mapActions({
      setPeriod: 'cart/setPeriod',
      setProductSubscription: 'cart/setProductSubscription',
      reset: 'cart/reset'
    })
  }
}
</script>
