<template>
  <Transition
    v-bind="$attrs"
    enter-active-class="transition-all ease-out duration-150"
    enter-class="opacity-0"
    enter-to-class="opacity-100"
    leave-active-class="transition-opacity ease-out duration-150"
    leave-class="opacity-100"
    leave-to-class="opacity-0"
    ><slot
  /></Transition>
</template>

<script>
export default {
  name: 'TransitionOpacity'
}
</script>
