<template>
  <div class="product-price p-0 sm:p-2 md:p-6 grid grid-cols-1">
    <h2 class="flex items-center justify-center">
      {{ formattedDiscountPrice[0] }}
      <div class="flex flex-wrap items-start">
        <span>,{{ formattedDiscountPrice[1] }}</span
        ><span>per week</span>
      </div>
    </h2>

    <span v-if="price.discountPercentage" class="product-discount">
      <b>{{ price.discountPercentage }}% KORTING</b> (was<b>{{
        formatPrice(price.initialPrice)
      }}</b
      >)
    </span>
    <span v-if="price.isIntroductionPrice" class="product-introduction-text">
      Introductietarief
    </span>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'ProductPrice',

  props: {
    price: {
      type: Object,
      default: null
    }
  },

  computed: {
    formattedDiscountPrice() {
      return this.formatPrice(this.price.discountPrice).split(',')
    }
  },
  methods: {
    formatPrice(number) {
      return new Intl.NumberFormat('nl-NL', {
        style: 'currency',
        currency: 'EUR'
      })
        .format(number / 100)
        .replace('€', '')
    }
  }
}
</script>

<style lang="postcss" scoped>
.product-price {
  color: var(--color-secondary);

  h2 {
    line-height: var(--line-none);
    font-size: var(--scale-6);
    height: var(--scale-6);
    letter-spacing: var(--letter-xs);
    margin: 0 auto var(--size-4);
    font-weight: var(--weight-bold);

    span {
      letter-spacing: var(--letter-none);
      margin-left: var(--size-1);
      width: 100%;
      height: var(--scale-0);
      font-size: var(--scale-0);
      font-weight: var(--weight-bold);
      line-height: var(--line-none);

      &:last-child {
        font-weight: var(--weight-semibold);
      }
    }
  }
}

.product-discount {
  border: 1px solid var(--color-secondary);
  padding: var(--size-1) var(--size-2);
  font-size: var(--scale-000);
  margin: 0 auto var(--size-6);
}

.product-introduction-text {
  text-transform: uppercase;
  opacity: 0.75;
  font-size: var(--scale-000);
  margin: 0 auto var(--size-6);
}
</style>
