<template>
  <div class="relative">
    <IconCheck class="text-success absolute left-0 top-1 w-4 h-4" />
    <div class="product-feature mb-2 ml-5">
      <slot /><IconInfo class="info transition-colors duration-150 w-5 h-5" />
    </div>
  </div>
</template>

<script>
import IconCheck from '~/components/base/icons/IconCheck.vue'
import IconInfo from '~/components/base/icons/IconInfo.vue'
export default {
  name: 'ProductFeature',
  components: { IconCheck, IconInfo },
  props: {
    feature: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="postcss" scoped>
.product-feature {
  max-width: 100%;
  font-size: var(--scale-00);
  color: var(--color-secondary);
  line-height: var(--line-md);
}

.info {
  display: inline;
  color: var(--color-blue-700);
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
</style>
