@import './utilities';
@import './fonts';

/* stylelint-disable */

@tailwind base; /* Preflight will be injected here */
@tailwind utilities;
@tailwind components;

.title {
  &--2 {
    font-size: var(--scale-4);
    font-weight: var(--weight-bold);
    line-height: var(--line-sm);

    @media screen and (max-width: 480px) {
      font-size: var(--scale-3);
    }
  }
}

/* stylelint-enable */
