.title {
  &--2 {
    font-size: var(--scale-4);
    font-weight: var(--weight-bold);
    line-height: var(--line-sm);

    @media screen and (max-width: 480px) {
      font-size: var(--scale-3);
    }
  }

  &--3 {
    font-size: var(--scale-2);
    font-weight: var(--weight-semibold);
    line-height: var(--line-sm);
  }
}
