<template>
  <button
    class="btn"
    :class="{
      'btn--primary': primary,
      'btn--secondary': secondary
    }"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'BaseButton',

  props: {
    primary: {
      type: Boolean,
      default: true
    },
    secondary: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="postcss">
.btn {
  /** reset */

  border: 0;
  color: white;
  width: 100%;
  font-family: var(--font-sans);
  padding: var(--size-4);
  border-radius: var(--radius-sm);
  cursor: pointer;

  &--primary {
    background: var(--color-primary);
  }

  &--secondary {
    background: var(--color-secondary);
  }
}
</style>
