<template>
  <nav class="footer" />
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>

<style lang="postcss" scoped>
.footer {
  display: block;
  width: 100%;
  height: var(--size-64);
  background: var(--color-grey-200);
}
</style>
