<template>
  <nav class="header" />
</template>

<script>
export default {
  name: 'TheHeader'
}
</script>

<style lang="postcss" scoped>
.header {
  width: 100%;
  height: var(--size-16);
  background: var(--color-grey-100);
}
</style>
