<template>
  <div>
    <TheHeader />
    <div class="container my-16 min-h-screen">
      <Nuxt />
    </div>
    <TheFooter />
  </div>
</template>

<script>
import TheHeader from '@/components/base/TheHeader.vue'
import TheFooter from '@/components/base/TheFooter.vue'

// theme can later be imported dynamically based on domain (req.host)
import(`~/assets/css/themes/ad.nl/theme.css`)

export default {
  name: 'ContainerLayout',

  components: {
    TheHeader,
    TheFooter
  }
}
</script>
