<template>
  <ProductSection />
</template>

<script>
import ProductSection from '@/components/composed/sections/ProductSection.vue'
export default {
  name: 'ProductPage',

  components: {
    ProductSection
  },

  layout: 'ContainerLayout',

  async asyncData({ $http, store }) {
    await store.dispatch('shop/prepare')
  }
}
</script>
