<template>
  <CartSection v-if="isCartFilled" />
</template>

<script>
import { mapGetters } from 'vuex'
import CartSection from '@/components/composed/sections/CartSection.vue'
export default {
  name: 'CartPage',

  components: {
    CartSection
  },

  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (!vm.$store.getters['cart/hasProduct']) {
        vm.$router.push('/')
      }
    })
  },
  layout: 'ContainerLayout',

  computed: {
    ...mapGetters({ isCartFilled: 'cart/hasProduct' })
  },

  watch: {
    isCartFilled(val) {
      if (!val) this.$router.push('/')
    }
  }
}
</script>
