<template>
  <div>
    <Transition mode="out-in">
      <Product
        v-if="isExpanded"
        :product="product"
        :is-highlight="false"
        class="border border-secondary"
      />
      <div v-else class="border border-secondary">
        <h2 class="title title--2 mt-8 mx-2 mb-2">{{ product.name }}</h2>
        <ProductPrice :price="product.price" />
      </div>
    </Transition>
    <IconChevronDown
      class="w-10 h-10 p-2 text-white bg-secondary mx-auto -mt-5 rounded-full"
      :class="{ 'rotate-180': isExpanded }"
      @click.native="isExpanded = !isExpanded"
    />
  </div>
</template>

<script>
import IconChevronDown from '../../base/icons/IconChevronDown.vue'
import ProductPrice from './partials/ProductPrice.vue'
import Product from './Product.vue'

export default {
  name: 'ProductExpandable',
  components: { ProductPrice, Product, IconChevronDown },
  props: {
    product: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      isExpanded: false
    }
  }
}
</script>
