<template>
  <div
    class="product"
    :class="{
      'product--highlight': isHighlight
    }"
  >
    <label v-if="isHighlight">{{ product.highlight }}</label>
    <div class="product-header">
      <h2 class="title title--2">{{ product.name }}</h2>
      <div v-for="b in product.bundle" :key="b" class="product-bundle">
        {{ b }}
      </div>
    </div>
    <hr class="border-t border-secondary" />
    <ProductPrice :price="product.price">
      <slot />
    </ProductPrice>
    <hr class="border-t border-secondary opacity-10" />

    <div class="py-4">
      <ProductFeature
        v-for="(feature, idx) in product.features"
        :key="`feat${idx}`"
        >{{ feature.title }}</ProductFeature
      >
    </div>
  </div>
</template>

<script>
import ProductFeature from './partials/ProductFeature.vue'
import ProductPrice from './partials/ProductPrice.vue'

export default {
  name: 'Product',
  components: { ProductFeature, ProductPrice },
  props: {
    product: {
      type: Object,
      default: null
    },
    isHighlight: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="postcss" scoped>
.product {
  width: 100%;
  padding: var(--size-8) var(--size-2) var(--size-2);
  position: relative;
  background: var(--color-grey-50);

  label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--color-grey-100);
    padding: var(--size-1);
    height: var(--size-6);
    font-size: var(--scale-00);
    line-height: var(--line-none);
  }

  &--highlight {
    background: var(--color-highlight-1);

    label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: var(--color-secondary);
      color: white;
      padding: var(--size-1);
    }
  }
}

.product-header {
  height: var(--size-32);
}

.product-bundle {
  font-size: var(--scale-000);
  line-height: var(--line-sm);
  margin: var(--size-2) 0;
}
</style>
