<template>
  <label
    v-if="period"
    :for="period.id"
    class="period-button"
    :class="{ 'period-button--selected': isSelected }"
  >
    <input
      :id="period.id"
      type="radio"
      :value="period.id"
      class="sr-only"
      @click="$emit('input', $event.target.value)"
    />
    <div class="flex-1 flex">
      <div class="flex flex-col">
        <h2 class="title title--3">
          {{ period.name }}
        </h2>
        <span class="mt-1 flex items-center text-sm">
          <span v-if="period.discountPercentage"
            >Korting: {{ period.discountPercentage }} %</span
          >
          <span v-else>&nbsp;</span>
        </span>
      </div>
    </div>
    <IconCheck
      class="w-5 h-5 text-white rounded-full p-1"
      :class="{ 'bg-success': isSelected, 'bg-grey-200': !isSelected }"
    />
  </label>
</template>

<script>
import IconCheck from '~/components/base/icons/IconCheck.vue'
export default {
  name: 'CartPeriodButton',
  components: { IconCheck },
  model: {
    prop: 'modelValue',
    event: 'input'
  },
  props: {
    period: {
      type: Object,
      default: null
    },

    modelValue: {
      type: String,
      default: null
    }
  },

  computed: {
    isSelected() {
      return this.modelValue === this.period.id
    }
  }
}
</script>

<style lang="postcss" scoped>
.period-button {
  background: var(--color-white);
  border: solid 1px var(--color-secondary);
  padding: var(--size-4);
  cursor: pointer;
  border-radius: 0;
  display: flex;
  color: var(--color-secondary);

  &--selected {
    background: var(--color-highlight-1);
  }
}
</style>
