<template>
  <TransitionOpacity>
    <div v-if="hasProductSubscription" class="grid sm:grid-cols-2 gap-4">
      <!-- just mockups. -->
      <div class="w-full col-span-2 bg-grey-100 h-12" />
      <div class="w-full bg-grey-100 h-12" />
      <div class="w-full bg-grey-100 h-12" />
      <div class="w-full col-span-2 bg-grey-100 h-12" />
      <div class="w-full col-span-2 bg-grey-100 h-12" />
      <div class="w-full bg-grey-100 h-12" />
      <div class="w-full bg-grey-100 h-12" />
    </div>
  </TransitionOpacity>
</template>

<script>
import { mapGetters } from 'vuex'
import TransitionOpacity from '~/components/base/transitions/TransitionOpacity.vue'
export default {
  name: 'CartForm',
  components: { TransitionOpacity },
  computed: {
    ...mapGetters({
      hasProductSubscription: 'cart/hasProductSubscription'
    })
  }
}
</script>
