<template>
  <div
    class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 max-w-screen-lg mx-auto"
  >
    <div class="col-span-2 lg:col-span-3">
      <!-- mobile only -->
      <ProductExpandable :product="displayedProduct" class="md:hidden mb-4" />
      <Cart />
    </div>
    <Product
      class="hidden md:block border border-secondary max-w-md"
      :product="displayedProduct"
      :is-highlight="false"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Product from '../product/Product.vue'
import Cart from '../cart/Cart.vue'
import ProductExpandable from '../product/ProductExpandable.vue'

export default {
  name: 'CartSection',

  components: { Product, ProductExpandable, Cart },

  computed: {
    displayedProduct() {
      if (this.hasProductSubscription) {
        return this.subscriptionProduct
      }
      return this.productInCart
    },
    ...mapGetters({
      hasProductSubscription: 'cart/hasProductSubscription',
      productInCart: 'cart/getProduct',
      subscriptionProduct: 'cart/getProductSubscription'
    })
  }
}
</script>
