<template>
  <div>
    <div class="flex justify-center sm:hidden">
      <select v-model="activeCategory" class="product-group-select mb-2">
        <option v-for="(cat, i) in categories" :key="i" :value="i">
          {{ cat }}
        </option>
      </select>
    </div>
    <div class="grid w-full grid-cols-1 lg:grid-cols-2 gap-4">
      <div
        v-for="(group, i) in groupedProducts"
        :key="i"
        class="grid grid-cols-2 border-t border-secondary"
        :class="{
          'hidden sm:grid': activeCategory !== i
        }"
      >
        <Product
          v-for="(product, idx) in group"
          :key="`p-${idx}`"
          :product="product"
          :is-highlight="Boolean(product.highlight)"
        >
          <BaseButton
            :secondary="!product.highlight"
            @click.native="onButtonClick(product)"
            >Bestel nu</BaseButton
          >
        </Product>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Product from '@/components/composed/product/Product.vue'
import BaseButton from '@/components/base/BaseButton.vue'

export default {
  name: 'ProductSection',

  components: {
    Product,
    BaseButton
  },

  data() {
    return {
      activeCategory: 0
    }
  },

  computed: {
    groupedProducts() {
      return this.categories.map((category) => [
        ...this.products.filter((el) => el.category === category)
      ])
    },

    categories() {
      return [...new Set(this.products.map((p) => p.category))]
    },

    ...mapGetters({
      products: 'shop/getProducts'
    })
  },

  methods: {
    onButtonClick(product) {
      this.addToCart(product).then(() => {
        this.$router.push('/order')
      })
    },

    ...mapActions({
      addToCart: 'cart/addToCart'
    })
  }
}
</script>

<style lang="postcss" scoped>
.product-group-select {
  display: block;
  width: 100%;
  max-width: var(--size-48);
  padding: var(--size-2) var(--size-3) var(--size-2) var(--size-3);
  border: 1px solid var(--color-secondary);
  font-size: var(--scale-00);
}
</style>
